
<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="d-flex justify-content-center">
                    <span class="spinner-border spinner-grow-sm" style="width: 2.5rem; height: 2.5rem;" role="status"
                        aria-hidden="true"></span>
                    <div style="margin-top:10px;margin-left:10px">Loading...Please Wait</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <img class='img-responsive ' style="height: 600px; width: 100%;" src="assets/login-splash.jpg" />
            </div>
        </div>
        <div>
            <div style="text-align: center;">
                <label>Powered By:</label>
                <img style="height:50px;" src="assets/Takira_Solutions.png" />
            </div>
        </div>
    </div>
</sb-layout-auth>
