.red{
    text-align: right!important;
font-size: 14px;
}
.invalid-feedback{
    text-align: right!important;
}
ng-bootstrap-datetime-angular{
    font-size: 10px;
}
.card{
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}
textarea{
    font-size: 14px;
}
