<form [formGroup]="exportPolicyDetails">

    <div class="card" style="background-color: rgb(238, 232, 225);">
        <div class="col" style="text-align: left;margin: 10px;" formGroupName="pcfcDtlsVo">
            <input type="checkbox" class="form-check-input" formControlName="takeConvsnRtOnBhlf">
            <label> We hereby request CANARA BANK to take Conversion Rate on our behalf.</label>
        </div>
        <div class="red">
            {{getPolicyError('pcfcDtlsVo.takeConvsnRtOnBhlf')}} </div>
        <p class=" m-3" style="size: 15px;"> <b>DECLARTION </b> </p>
        <p class=" m-3" style="size: 15px;"> <b>(Under FEMA 1999)
                manegement Act,1999</b></p>
        <div class="m-3" style="text-align: left;">
            <!-- <label for="">1.I </label> -->
            <label for="declare">

                <div class="col" formGroupName="pcfcDtlsVo">

                    1. In case of Running Account Facility, we undertake to submit the underlying order/LC within 30
                    days from the date of disbursement.<br>
                    2. In case of Order Based Facility, underlying Export Order/Letter of Credit is enclosed. We
                    undertake to liquidate the above loan by submitting to you the related export documents / bills
                    within the validity of LC/Order or within the tenor

                    <label> <input type="text" NumbersOnly class="form-control form-control-sm" maxlength="22"
                            placeholder="" style="width: 200px;" style="width: 200px;" formControlName="declTenor"
                            [class.is-invalid]="getPolicyError('pcfcDtlsVo.declTenor') !=''">
                    </label>

                    days approved by Bank, whichever is earlier.<br>
                    <div class="red">
                        {{getPolicyError('pcfcDtlsVo.declTenor')}} </div>
                    3. We undertake to liquidate the above loan on or before the due date.
                </div>

            </label>
            <h6 class="mt-2"> <b>I/We also declare and undertake as follows:
                </b> </h6>
            1. I/We are not in the caution list of either RBI and/or ECGC.<br>
            2. I/We confirm that the goods being exported are permissible as per EXIM policy 2015-2020 and subsequent
            amendment made time to time.<br>
            3. I/We have necessary export quota /license to execute the above shipment.<br>
            4. I/We have not availed any PC/PCFC from any other Bank against this particular order(s).<br>
            5. I/We confirm that country of export/parties involved does not belong to any sanction/OFAC entities and
            would keep Canara Bank indemnified against any losses on account of this.
            6. I/We hold ECGC`s Shipment (Comprehensive Risk) Policy No. <br>
            <label formGroupName="pcfcDtlsVo"> <input type="text" NumbersOnly class="form-control form-control-sm"
                    maxlength="22" placeholder="" style="width: 200px;" style="width: 200px;" formControlName="polNo"
                    [class.is-invalid]="getPolicyError('pcfcDtlsVo.polNo') !=''">
            </label>dtd.
            <label formGroupName="pcfcDtlsVo">
                <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm"
                    formControlName="dtd" placeholder="DTD" [disabled]="exportPolicyDetails.disabled"
                    [class.is-invalid]="getPolicyError('pcfcDtlsVo.dtd') !=''">
                </ng-bootstrap-datetime-angular>
            </label>
            <div class="red">
                {{getPolicyError('pcfcDtlsVo.dtd')}}
            </div>

            I/We shall have the relative stocks adequately insured and submit to you the relative insurance policy duly
            assigned in Bank`s name.<br>
            8. I/We shall submit to you our monthly stock statement on time.<br>
            9. I/We are agreeable for ECNOS rate of interest in case of delay in liquidating the packing credit within
            the validity of export order as per RBI/Bank`s norms.<br>
            10. I/we will export the goods as per the shipment schedule of the underlying Export Order(s)/ Letter of
            Credit , without any delay.<br>
            11. I/We hereby agree and confirm that the above PCFC is subject to the terms and conditions as contained
            herein and in the sanctioned credit limits entered between applicant and CANARA BANK.<br>
            12. I/We also agree that the exchange rate will be applicable at the time of deal booking and may vary from
            the rate prevailing when the request is submitted. I/We also understand that the rate communicated to us (if
            any) is an indicative rate and the actual rate may be different from the same.<br>




            <!-- <div class="col">
        <br> <input class="form-check-input" type="radio" value="0"
        formControlName="declrCumUnd"> We submit herewith the Exchange Control Copy of Import License No     <input appAlphabetOnly type="text" class="form-control form-control-sm"
        placeholder="NAME" style="width: 200px;" formControlName="dclrNm"
        maxlength="35" [class.is-invalid]="getPolicyError('dclrNm') !=''"><label for="">
        to cover the said Import. I/We hereby undertake to ensure the physical import into India within 6 months from the date of remittance (3 years in case of capital goods) and to submit the appropriate documentary evidence of import to you within 15 days from the close of the said period. In case I/We fail to import the goods to India within the prescribed period as above (or the extended period of 1 month / 3 months as applicable as may be permitted by you in terms of RBI guidelines), I/We hereby undertake to repatriate to India the amount remitted immediately.  
        </label>
        <label for="">
       <div class="red ml-2">
              
                {{getPolicyError('dclrNm')}}
            </div>
        </label></div>  -->
            <p class="m-2">

                <label for="">
                    <!-- <fieldset [disabled]="policyformVal?.declrCumUnd == '1'"> -->

                    <!-- <input class="form-check-input" type="radio" value="1"
                formControlName="declrCumUnd"> -->
                    <!-- </fieldset> -->
                    We submit herewith the Exchange Control Copy of Import License No
                </label>

                <label for="">

                    <!-- <input type="text" NumbersOnly inputmode="numeric"
                    class="form-control form-control-sm" maxlength="22"
                    placeholder="" style="width: 200px;" style="width: 200px;"
                    formControlName="licNo" [class.is-invalid]="getPolicyError('licNo') !=''"> -->

                </label>

                to cover the said Import. I/We hereby undertake to ensure the physical import into India within 6
                months from the date of remittance (3 years in case of capital goods) and to submit the appropriate
                documentary evidence of import to you within 15 days from the close of the said period. In case I/We
                fail to import the goods to India within the prescribed period as above (or the extended period of 1
                month / 3 months as applicable as may be permitted by you in terms of RBI guidelines), I/We hereby
                undertake to repatriate to India the amount remitted immediately.
                <label for="">
                    <div class="red ml-2">
                        <!-- Name field is required. -->
                        <!-- {{getPolicyError('licNo')}} -->
                    </div>
                </label>
            </p>
        </div>


        <br>
        <div style="background-color: rgb(238, 232, 225);">
            <p class=" m-3" style="size: 15px;"> <b>DECLARATION
                </b> </p>
            <p class=" m-3" style="size: 15px;"> <b>(Under Section 10 (5), Chapter III of the Foreign Exchange
                    Management Act, 1999)</b></p>
            <P class="m-3" style="text-align: left;">I/We declare that transaction , the details of which are
                specifically mentioned in the schedule hereunder , does not involve, and is not designed for the purpose
                of any contravention or evasion of the provisions of the Foreign Exchange Management Act, 1999, or any
                rule, regulation, notification, direction or order made there under.</P>
            <P class="m-3" style="text-align: left;">I/We further agree to give you all such information/particulars as
                may be required by you and called for by you to determine whether such transaction contravenes any of
                the provisions of the Foreign Exchange Management Act or any other rule, regulation, notification of
                order there under. I/We hereby declare that all the information /particulars given by us are true and
                correct to the best of my/our knowledge and information.</P>
            <P class="m-3" style="text-align: left;">I/We also understand and agree that if I/we refuse to comply with
                any such requirement or make only unsatisfactory compliance therewith, the bank is always at liberty to
                refuse in writing to undertake the transaction and shall if it has reason to believe that any
                contravention / evasion is contemplated by me/us report the matter to Reserve Bank of India.</P>
            <P class="m-3" style="text-align: left;">*I/We further declare that the undersigned has /have the authority
                to five this declaration and undertaking on behalf of the firm/company.</P>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-2">
            <label for="name">Place <span class="red">*</span>
            </label>
        </div>
        <div class="col-4">
            <div class="form-group" formGroupName="pcfcDtlsVo">
                <input type="text" appAlphabetOnly class="form-control form-control-sm" formControlName="formPlace"
                    placeholder="PLACE" maxlength="35" [class.is-invalid]="getPolicyError('pcfcDtlsVo.formPlace') !=''">
                <div class="invalid-feedback">
                    {{getPolicyError('pcfcDtlsVo.formPlace')}} </div>
            </div>
        </div>
        <div class="col-2">
            <label for="name">Date <span class="red">*</span>
            </label>
        </div>
        <div class="col-4" formGroupName="pcfcDtlsVo">
            <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm" name="sysRefDt"
                formControlName="formDt" placeholder="DATE"
                [class.is-invalid]="getPolicyError('pcfcDtlsVo.formDt') !=''" [disabled]="exportPolicyDetails.disabled">
            </ng-bootstrap-datetime-angular>

            <div class="invalid-feedback">
                {{getPolicyError('pcfcDtlsVo.formDt')}}
            </div>
        </div>
    </div>
</form>