textarea{
    font-size: 14px;
}
.red{
    text-align: right!important;
font-size: 14px;
}
.invalid-feedback{
    text-align: right!important;
}
.card{
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}