<form [formGroup]="exportBeneficiaryForm">
    <div class="card">

        <fieldset [disabled]="exportchildMessage == 'NO'">
            <div class="row" (change)="changeLetter($event)">
                <div class="col-12 col-form-label">
                    <div class="form-check m-2">
                        <input type="checkbox" class="form-check-input" formControlName="ltrCrdtDtlschk">
                        <label class="form-check-label">LETTER OF CREDIT DETAILS</label>
                    </div>
                </div>
            </div>
            <div class="" [hidden]="!exportBeneficiaryFormval.ltrCrdtDtlschk ">
                <fieldset [disabled]="exportBeneficiaryForm.disabled">
                    <table class="table table-bordered">
                        <tr style="text-align: center;text-align: center; font-size: 14px;">
                            <th class="th-lg" rowspan="2"> Ref No. </th>
                            <th class="th-lg" rowspan="2"> Date</th>
                            <th class="th-lg" rowspan="2"> Expiry Date</th>
                            <th style="text-align: center;" colspan="2"> Amount Foreign Curency </th>
                            <th class="th-lg" rowspan="2"> Amount Already Utilized</th>
                            <th class="th-lg" rowspan="2">Balance Available </th>
                            <th class="th-lg" rowspan="2">Country</th>

                            <th rowspan="2"> Action </th>
                        </tr>
                        <tr style="text-align: center;text-align: center; font-size: 14px;">
                            <th> FCY/LCY</th>
                            <th>Amount</th>
                        </tr>
                        <tr *ngFor="let accountDetail of pkgltrCrdDtlsVoList;let indexOfelement=index;">
                            <td>
                                <input type="text" class="form-control form-control-sm" NumbersOnly placeholder="Ref No"
                                    [(ngModel)]="accountDetail.refNo" [ngModelOptions]="{standalone: true}"
                                    maxlength="13">
                                <div class="red ml-2" *ngIf=" accountDetail.refNoReq == true  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                                <!-- <div class="red ml-2"
                                *ngIf="accountDetail.ltrCrdtDtlsRefNoMax== true  && submittedexportFrom3 ">
                                <p>Maximum 16 characters allowed</p>
                            </div> -->
                            </td>
                            <td>
                                <div class="form-group">
                                    <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm"
                                        name="sysRefDt" [(ngModel)]="accountDetail.date"
                                        [ngModelOptions]="{standalone: true}" placeholder="DATE">

                                    </ng-bootstrap-datetime-angular>
                                    <div class="red ml-2" *ngIf="accountDetail.dateReq  && submittedexportFrom3 ">
                                        <p>This filed is required</p>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm"
                                        name="sysRefDt" placeholder="Expiry Date" [(ngModel)]="accountDetail.expdt"
                                        [ngModelOptions]="{standalone: true}">

                                    </ng-bootstrap-datetime-angular>
                                    <div class="red ml-2" *ngIf=" accountDetail.expdtReq  && submittedexportFrom3 ">
                                        <p>This filed is required</p>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control form-control-sm" [(ngModel)]="accountDetail.fcy"
                                        [ngModelOptions]="{standalone: true}">
                                        <option value="">SELECT</option>
                                        <option *ngFor="let currency of currency " value="{{currency.currencyMstId}}">
                                            {{currency.code}}
                                        </option>
                                    </select>
                                    <div class="red ml-2" *ngIf=" accountDetail.fcyReq  && submittedexportFrom3 ">
                                        <p>This filed is required</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.amnt" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Amount"
                                    [ngModelOptions]="{standalone: true}" (keyup)="accountDetailTabl1TotalCalFirst()"
                                    maxlength="22">
                                <div class="red ml-2" *ngIf=" accountDetail.amntReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.amtUtlz" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Amount Already Utilized"
                                    [ngModelOptions]="{standalone: true}" maxlength="22">
                                <div class="red ml-2" *ngIf=" accountDetail.amtUtlzReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.balAvl" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Balance Available"
                                    [ngModelOptions]="{standalone: true}" maxlength="22">
                                <div class="red ml-2" *ngIf=" accountDetail.balAvlReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="accountDetail.country"
                                    [ngModelOptions]="{standalone: true}" data-role="select-dropdown">
                                    <!-- options -->
                                    <option value="">SELECT</option>
                                    <option *ngFor="let con of country " value="{{con.countryId}}">
                                        {{con.name}}</option>
                                </select>

                                <div class="red ml-2" *ngIf=" accountDetail.countryReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger m-1 mb-0  btn-sm" type="button"
                                    (click)="deleteAccountDetailFirst(indexOfelement)" *ngIf="!isEditable"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td>Total</td>
                            <td>
                                <input type="number" value="{{accountDetailTabl1TotalFirst}}"
                                    class="form-control form-control-sm" placeholder="TOTAL" disabled="disabled"
                                    maxlength="30">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-primary m-1 mb-0  btn-sm"
                                    (click)="onAddRowClickFirst()" style="width: 70px;" *ngIf="!isEditable">Add
                                    +</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </fieldset>

        <div class="form-row">
            <div class="red ml-2"
                *ngIf="exportchildMessage=='YES' && pkgltrCrdDtlsVoList.length === 0  && submittedexportFrom3 ">
               <p>LETTER OF CREDIT DETAILS</p> 
            </div>
        </div>


        <fieldset [disabled]="exportchildMessage == 'YES'">

            <div class="row" (change)="changePackage($event)">
                <div class="col-12 col-form-label">
                    <div class="form-check required  m-2">
                        <input type="checkbox" class="form-check-input" formControlName="prchOrdDtlschk">
                        <label class="form-check-label">PURCHASE ORDER DETAILS</label>
                    </div>
                </div>
            </div>
            <div class="" [hidden]="!exportBeneficiaryFormval.prchOrdDtlschk">
                <fieldset [disabled]="exportBeneficiaryForm.disabled">
                    <table class="table table-bordered">
                        <tr style="text-align: center;text-align: center; font-size: 14px;">
                            <th class="th-lg" rowspan="2"> Ref No. </th>
                            <th class="th-lg" rowspan="2"> Date</th>
                            <th style="text-align: center;" colspan="2"> Amount Foreign Curency </th>
                            <th class="th-lg" rowspan="2"> Amount Already Utilized</th>
                            <th class="th-lg" rowspan="2">Balance Available </th>
                            <th class="th-lg" rowspan="2">INCO Terms</th>
                            <th class="th-lg" rowspan="2">Country</th>

                            <th rowspan="2"> Action </th>
                        </tr>
                        <tr style="text-align: center;text-align: center; font-size: 14px;">
                            <th> FCY/LCY</th>
                            <th>Amount</th>
                        </tr>
                        <tr *ngFor="let accountDetail of pkgprchOrdDtlsVoList;let indexOfelement=index;">
                            <td>
                                <input type="text" class="form-control form-control-sm" NumbersOnly placeholder="Ref No"
                                    [(ngModel)]="accountDetail.prchOrdDtlsRefNo" [ngModelOptions]="{standalone: true}"
                                    maxlength="13">
                                <div class="red ml-2"
                                    *ngIf=" accountDetail.prchOrdDtlsRefNoReq == true  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                                <div class="red ml-2"
                                    *ngIf="accountDetail.prchOrdDtlsRefNoMax== true  && submittedexportFrom3 ">
                                    <p>Maximum 16 characters allowed</p>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm"
                                        name="sysRefDt" [(ngModel)]="accountDetail.purOrdDate"
                                        [ngModelOptions]="{standalone: true}" placeholder="DATE">

                                    </ng-bootstrap-datetime-angular>
                                    <div class="red ml-2"
                                        *ngIf=" accountDetail.purOrdDateReq  && submittedexportFrom3 ">
                                        <p>This filed is required</p>
                                    </div>

                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <select class="form-control form-control-sm" [(ngModel)]="accountDetail.fcy"
                                        [ngModelOptions]="{standalone: true}">
                                        <option value="">SELECT</option>
                                        <option *ngFor="let currency of currency " value="{{currency.currencyMstId}}">
                                            {{currency.code}}
                                        </option>
                                    </select>
                                    <div class="red ml-2" *ngIf=" accountDetail.fcyReq  && submittedexportFrom3 ">
                                        <p>This filed is required</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.amnt" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Amount"
                                    [ngModelOptions]="{standalone: true}" (keyup)="accountDetailTabl1TotalCal()"
                                    maxlength="22">
                                <div class="red ml-2" *ngIf=" accountDetail.amountReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.amntToBeUtlzed" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Amount Already Utilized"
                                    [ngModelOptions]="{standalone: true}" maxlength="22">
                                <div class="red ml-2"
                                    *ngIf=" accountDetail.amntToBeUtlzedReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="accountDetail.balavlb" NumbersOnly type="text"
                                    class="form-control form-control-sm" placeholder="Balance Available"
                                    [ngModelOptions]="{standalone: true}" maxlength="22">
                                <div class="red ml-2" *ngIf=" accountDetail.balavlbReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="accountDetail.inCoTerms"
                                    [ngModelOptions]="{standalone: true}" data-role="select-dropdown">
                                    <option value="">SELECT</option>
                                    <option *ngFor="let data of incotermsList" value="{{data.code}}">
                                        {{data.value}}
                                    </option>
                                </select>
                                <div class="red ml-2" *ngIf=" accountDetail.inCoTermsReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="accountDetail.country"
                                    [ngModelOptions]="{standalone: true}" data-role="select-dropdown">
                                    <!-- options -->
                                    <option value="">SELECT</option>
                                    <option *ngFor="let con of country " value="{{con.countryId}}">
                                        {{con.name}}</option>
                                </select>

                                <div class="red ml-2" *ngIf=" accountDetail.countryReq  && submittedexportFrom3 ">
                                    <p>This filed is required</p>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger m-1 mb-0  btn-sm" type="button"
                                    (click)="deleteAccountDetail(indexOfelement)" *ngIf="!isEditable"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>

                                <input type="number" value="{{accountDetailTabl1Total}}"
                                    class="form-control form-control-sm" placeholder="TOTAL" disabled="disabled"
                                    maxlength="30">
                            </td>
                            <td></td>
                            <td></td>

                            <td></td>
                            <td></td>




                            <td>
                                <button type="button" class="btn btn-primary m-1 mb-0  btn-sm" (click)="onAddRowClick()"
                                    style="width: 70px;" *ngIf="!isEditable">Add
                                    +</button>
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>
        </fieldset>
        <div class="form-row">
            <div class="red ml-2"
                *ngIf="exportchildMessage =='NO' && pkgprchOrdDtlsVoList.length  === 0 && submittedexportFrom3">
                <p>PURCHASE ORDER DETAILS</p>
            </div>
        </div>

       

    </div>
<div class="card">
    <fieldset [disabled]="exportBeneficiaryForm.disabled">
        <p>If PCFC availed on the same order/LC as given in this application, please furnish the details below:
        </p>
        <hr />
        <table class="table table-bordered">
            <tr style="text-align: center;text-align: center; font-size: 14px;">
                <th class="th-lg" style="text-align: center;"> PCFC Ref No. </th>
                <th class="th-lg" style="text-align: center;">Date</th>
                <th class="th-lg" style="text-align: center;"> Loan Amount </th>
                <th class="th-lg" style="text-align: center;"> Order No. </th>
                <th class="th-lg" style="text-align: center;"> Sanctioned Amount per Order </th>
                <th class="th-lg" style="text-align: center;"> Tenor in Days </th>
                <th class="th-lg" style="text-align: center;"> Due Date </th>
                <th class="th-lg"> Action </th>
            </tr>

            <tr *ngFor="let accountDetail of pkgpcfcLcVoList;let indexOfelement=index;">
                <td>
                    <input type="text" class="form-control form-control-sm" NumbersOnly placeholder="PCFC Ref No"
                        [(ngModel)]="accountDetail.pcfcLcRefNo" [ngModelOptions]="{standalone: true}">
                    <div class="red ml-2" *ngIf=" accountDetail.pcfcLcRefNoReq == true  && submittedexportFrom3 ">
                        <p>This filed is required</p>
                    </div>

                </td>
                <td>
                    <div class="form-group">
                        <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm" name="sysRefDt"
                        [(ngModel)]="accountDetail.date" [ngModelOptions]="{standalone: true}" placeholder="Date">
                    </ng-bootstrap-datetime-angular>
                        <div class="red ml-2" *ngIf=" accountDetail.dateReq  && submittedexportFrom3 ">
                            <p>This filed is required</p>
                        </div>

                    </div>
                    
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control form-control-sm" NumbersOnly
                            placeholder="Loan amount" [(ngModel)]="accountDetail.loanAmnt"
                            [ngModelOptions]="{standalone: true}" (keyup)="accountDetailTabl1TotalCalThird()">
                        <div class="red ml-2" *ngIf=" accountDetail.loanAmntReq  && submittedexportFrom3 ">
                            <p>This filed is required</p>
                        </div>
                    </div>
                </td>
                <td>
                    <input [(ngModel)]="accountDetail.orderNo" NumbersOnly type="text"
                        class="form-control form-control-sm" placeholder="Order No"
                        [ngModelOptions]="{standalone: true}" maxlength="22">
                    <div class="red ml-2" *ngIf=" accountDetail.orderNoReq  && submittedexportFrom3 ">
                        <p>This filed is required</p>
                    </div>
                </td>
                <td>
                    <input [(ngModel)]="accountDetail.sactnAmtOrdr" NumbersOnly type="text"
                        class="form-control form-control-sm" placeholder="Sanction"
                        [ngModelOptions]="{standalone: true}" maxlength="22">
                    <div class="red ml-2" *ngIf=" accountDetail.sactnAmtOrdrReq  && submittedexportFrom3 ">
                        <p>This filed is required</p>
                    </div>
                </td>
                <td>
                    <input [(ngModel)]="accountDetail.tenorDays" NumbersOnly type="text"
                        class="form-control form-control-sm" placeholder="Tenor Days"
                        [ngModelOptions]="{standalone: true}" maxlength="22">
                    <div class="red ml-2" *ngIf=" accountDetail.tenorDaysReq  && submittedexportFrom3 ">
                        <p>This filed is required</p>
                    </div>
                </td>
                <td>
                    <!-- <input [(ngModel)]="accountDetail.dueDate" NumbersOnly type="text"
                        class="form-control form-control-sm" placeholder="Due Date"
                        [ngModelOptions]="{standalone: true}" maxlength="22"> -->
                    <ng-bootstrap-datetime-angular inputDatetimeFormat="dd-MMM-yyyy HH:mm" name="sysRefDt"
                        [(ngModel)]="accountDetail.dueDate" [ngModelOptions]="{standalone: true}" placeholder="Due Date">
                    </ng-bootstrap-datetime-angular>
                    <div class="red ml-2" *ngIf="accountDetail.dueDateReq  && submittedexportFrom3 ">
                        <p>This filed is required</p>
                    </div>
                </td>
                <td>
                    <button class="btn btn-danger m-1 mb-0  btn-sm" type="button"
                        (click)="deleteAccountDetailThird(indexOfelement)" *ngIf="!isEditable"><i
                            class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td>
                    <input type="number" value="{{accountDetailTabl1TotalThired}}"
                        class="form-control form-control-sm" placeholder="TOTAL" disabled="disabled" maxlength="30">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary m-1 mb-0  btn-sm" (click)="onAddRowClickThird()"
                        style="width: 70px;" *ngIf="!isEditable">Add
                        +</button>
                </td>
            </tr>

        </table>
        
    </fieldset>
</div>

    <div class="card">

        <h6 class="mt-2"> <b>IV. REMITTING BANK DETAILS</b> <span class="red"> *</span></h6>
        <hr />

        <div class="form-row">

            <div class="col">
                <div class="form-group row required" formGroupName="pcfcBuyersDtlsVo">
                    <label class="col-sm-5 col-form-label">CIF ID:</label>
                    <div class="col-sm-7">
                        <!-- <input type="text" class="form-control form-control-sm" formControlName="custId"
                                placeholder=" "> -->
                        <input maxlength="11" NumbersOnly type="text" class="form-control form-control-sm"
                            formControlName="cifId" placeholder="CIF ID" disabled="disabled"
                            [class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.cifId') !=''">
                        <div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.cifId')}}</div>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <div class="form-group row required" formGroupName="pcfcBuyersDtlsVo">
                    <label class="col-sm-5 col-form-label"> Name:</label>
                    <!-- <div class="col-sm-7">
						<input appAlphabetOnly type="text" maxlength="35" class="form-control form-control-sm"
							formControlName="name" placeholder="NAME"
							[class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.name') !=''">
						<div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.name')}}</div>
					</div> -->
                    <div class="col-sm-7">
                        <select class="form-control form-control-sm" formControlName="buyersNm"
                            [class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.buyersNm') !=''"
                            (change)="beneficiarySelected()">
                            <option value="">SELECT</option>
                            <option *ngFor="let beneficiary of beneficiaryList" value="{{beneficiary.beneNam}}">
                                {{beneficiary.beneNam}} ({{beneficiary.beneShrtNam}})</option>
                        </select>
                        <div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.buyersNm')}}</div>
                    </div>
                    <div class="invalid-feedback">
                        {{getBeneError('pcfcBuyersDtlsVo.buyersNm')}}</div>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group row required" formGroupName="pcfcBuyersDtlsVo">
                    <label class="col-sm-5 col-form-label">Address Line 1:</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" maxlength="35" formControlName="addr1"
                            placeholder="ADDRESS LINE 1" disabled="disabled"
                            [class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.addr1') !=''"></textarea>
                        <div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.addr1')}}</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row" formGroupName="pcfcBuyersDtlsVo">
                    <label class="col-sm-5 col-form-label">Address Line 2:</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" maxlength="35" formControlName="addr2"
                            placeholder="ADDRESS LINE 2" disabled="disabled"
                            [class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.addr2') !=''"></textarea>
                        <div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.addr2')}}</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row required" formGroupName="pcfcBuyersDtlsVo">
                    <label class="col-sm-5 col-form-label">Country:</label>
                    <div class="col-sm-7">
                        <select class="form-control form-control-sm" placeholder="Select" formControlName="cntryId"
                            [class.is-invalid]="getBeneError('pcfcBuyersDtlsVo.cntryId') !=''"
                            data-role="select-dropdown">
                            <option value="">SELECT</option>
                            <option *ngFor="let con of country " value="{{con.countryId}}">
                                {{con.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">{{getBeneError('pcfcBuyersDtlsVo.cntryId')}}</div>
                    </div>
                </div>
            </div>

        </div>

        
    </div>

</form>